<section
  class="font-main w-full flex flex-col justify-center items-center relative section-book"
>
  <div class="relative flex flex-col justify-center text-center w-3/4">
    <h1 class="font-sec text-8xl mb-4 m-16">Book A Table</h1>
    <p class="text-sm mb-20">
      We consider all the drivers of change gives you the components you need to
      change to create a truly happens.
    </p>
  </div>
  <div class="h-72"></div>
  <form
    class="bg-white shadow-lg p-8 border-gray-200 border rounded-lg w-2/4 flex justify-center items-center flex-col absolute top-3/5"
    action="submit "
  >
    <div class="date-time w-full flex gap-10">
      <div class="w-3/6 mb-2">
        <label
          for="date"
          class="block text-sm text-black font-bold dark:text-gray-300"
          >Date</label
        >
        <input
          type="date"
          placeholder="Enter date"
          class="block mt-2 w-full placeholder-gray-400/70 dark:placeholder-gray-500 rounded-3xl border border-gray-200 bg-white px-5 py-2.5 text-gray-700 focus:border-blue-400 focus:outline-none focus:ring focus:ring-blue-300 focus:ring-opacity-40 dark:border-gray-600 dark:bg-gray-900 dark:text-gray-300 dark:focus:border-blue-300"
        />
      </div>

      <div class="w-3/6 mb-2">
        <label
          for="time"
          class="block text-sm font-bold text-black dark:text-gray-300"
          >Time</label
        >

        <input
          type="time"
          placeholder="Enter time"
          class="block mt-2 w-full placeholder-gray-400/70 dark:placeholder-gray-500 rounded-3xl border border-gray-200 bg-white px-5 py-2.5 text-gray-700 focus:border-blue-400 focus:outline-none focus:ring focus:ring-blue-300 focus:ring-opacity-40 dark:border-gray-600 dark:bg-gray-900 dark:text-gray-300 dark:focus:border-blue-300"
        />
      </div>
    </div>
    <div class="name-phone w-full flex gap-10">
      <div class="w-3/6 mb-2">
        <label
          for="name"
          class="block text-sm text-black font-bold dark:text-gray-300"
          >Name</label
        >
        <input
          type="name"
          placeholder="Enter your name"
          class="block mt-2 w-full placeholder-gray-400/70 dark:placeholder-gray-500 rounded-3xl border border-gray-200 bg-white px-5 py-2.5 text-gray-700 focus:border-blue-400 focus:outline-none focus:ring focus:ring-blue-300 focus:ring-opacity-40 dark:border-gray-600 dark:bg-gray-900 dark:text-gray-300 dark:focus:border-blue-300"
        />
      </div>

      <div class="w-3/6 mb-2">
        <label
          for="phone"
          class="block text-sm font-bold text-black dark:text-gray-300"
          >Phone</label
        >

        <input
          type="text"
          placeholder="+20xxx-xxx-xxxx"
          class="block mt-2 w-full placeholder-gray-400/70 dark:placeholder-gray-500 rounded-3xl border border-gray-200 bg-white px-5 py-2.5 text-gray-700 focus:border-blue-400 focus:outline-none focus:ring focus:ring-blue-300 focus:ring-opacity-40 dark:border-gray-600 dark:bg-gray-900 dark:text-gray-300 dark:focus:border-blue-300"
        />
      </div>
    </div>

    <div class="w-full mb-2">
      <label
        for="person"
        class="block text-sm font-bold text-black dark:text-gray-300"
        >Total Persons</label
      >
      <input
        type="number"
        placeholder="Enter total number of persons"
        class="block mt-2 w-full placeholder-gray-400/70 dark:placeholder-gray-500 rounded-3xl border border-gray-200 bg-white px-5 py-2.5 text-gray-700 focus:border-blue-400 focus:outline-none focus:ring focus:ring-blue-300 focus:ring-opacity-40 dark:border-gray-600 dark:bg-gray-900 dark:text-gray-300 dark:focus:border-blue-300"
      />
    </div>
    <button
      class="btn btn-primary rounded-full w-full center py-2 mt-4 text-white"
    >
      Send
    </button>
  </form>
  <iframe
    class="h-96"
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d431.66804388611155!2d31.26363588298848!3d30.05566245695206!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1458409d2f78c19d%3A0x8de08ea159f9c338!2sBaba%20Abdo!5e0!3m2!1sen!2seg!4v1726509110908!5m2!1sen!2seg"
    width="100%"
    height="450"
    style="border: 0"
    allowfullscreen=""
    loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"
  ></iframe>
</section>
