/********************** header ***********************/
.header {
  background-color: #ffffff;
  color: white;
  padding: 0px;
  margin: 0px;
  width: 100%;
  text-align: center;
  font-family: "DM Sans";
}

/*********************************** top bar */

.topbar {
  background-color: #474747;
  color: white;
  height: 45px;
  text-align: center;
  font-size: 16px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.phone-email {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.phone {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1rem;
}

.email {
  display: flex;
  justify-content: center;
  align-items: center;
}

/******************************** header-bar */
.header-bar {
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: #ffffff;
  color: #474747;
  height: 55px;
  text-align: center;
  font-size: 16px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1rem;
}

.logo h1 {
  font-family: "Playfair Display";
  font-weight: bolder;
  font-style: italic;
  margin-left: 10px;
}
/* nav ********************/
.nav-bar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
}

.nav-bar a {
  color: #2c2f24;
  padding: 4px 16px;
  border-radius: 32px;
  font-weight: 600;
}

.nav-bar a:hover {
  background-color: #dbdfd0;
  transition: 0.3s;
}

.active {
  background-color: #dbdfd0;
}

.nav-btn {
  background-color: #fff;
  color: #2c2f24;
  border: #2c2f24 1px solid;
  padding: 12px 24px;
  height: 48px;
  width: 160px;
  gap: 10px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 118px;
}

.nav-btn:hover {
  background-color: #dbdfd0;
  transition: 0.3s;
  cursor: pointer;
}
