<section class="about-section font-main">
  <div class="p-10"></div>
  <div class="img-content">
    <div class="img relative w-full flex items-center justify-center">
      <div class="img"><img src="./about/image.png" alt="about image" /></div>
      <div class="absolute flex items-center justify-center flex-col">
        <svg
          width="106"
          height="106"
          viewBox="0 0 106 106"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <circle cx="53" cy="53" r="53" fill="white" />
          <path
            d="M49.8569 63.8798C48.5248 64.7124 46.7969 63.7547 46.7969 62.1838V45.336C46.7969 43.7652 48.5248 42.8075 49.8569 43.64L63.3351 52.0639C64.5884 52.8473 64.5884 54.6726 63.3351 55.4559L49.8569 63.8798Z"
            fill="#AD343E"
          />
        </svg>
        <h1 class="pl-20 font-sec text-6xl text-white w-7/12">
          Feel the authentic & original taste from us
        </h1>
      </div>
    </div>
  </div>
  <div class="items flex items-center justify-evenly py-20 px-40 gap-20">
    <div class="bg-white gap-6 flex justify-center items-start">
      <div class="w-12 h-12">
        <svg
          class="block w-12 h-12"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M38 46L6 43V5L38 2V46Z"
            stroke="#474747"
            stroke-width="2.5"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
          <path
            d="M44 6V42"
            stroke="#474747"
            stroke-width="2.5"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
          <path
            d="M13 29H29"
            stroke="#AD343E"
            stroke-width="2.5"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
          <path
            d="M13 36L29 37"
            stroke="#AD343E"
            stroke-width="2.5"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
          <path
            d="M21 22C24.3137 22 27 19.3137 27 16C27 12.6863 24.3137 10 21 10C17.6863 10 15 12.6863 15 16C15 19.3137 17.6863 22 21 22Z"
            stroke="#AD343E"
            stroke-width="2.5"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </div>
      <div>
        <h2 class="font-bold mb-3 text-xl">Multi Cuisine</h2>
        <p class="text-[#414536]">
          In the new era of technology we look in the future with certainty
          life.
        </p>
      </div>
    </div>
    <div class="bg-white gap-6 flex justify-center items-start">
      <div class="w-12 h-12">
        <svg
          class="block"
          width="48"
          height="48"
          viewBox="0 0 48 48"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M38 22H10V38H38V22Z"
            stroke="#AD343E"
            stroke-width="2.5"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
          <path
            d="M31 28H17"
            stroke="#AD343E"
            stroke-width="2.5"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
          <path
            d="M29 12C30.1046 12 31 11.1046 31 10C31 8.89543 30.1046 8 29 8C27.8954 8 27 8.89543 27 10C27 11.1046 27.8954 12 29 12Z"
            fill="#474747"
          />
          <path
            d="M37 12C38.1046 12 39 11.1046 39 10C39 8.89543 38.1046 8 37 8C35.8954 8 35 8.89543 35 10C35 11.1046 35.8954 12 37 12Z"
            fill="#474747"
          />
          <path
            d="M40 4H8C5.79086 4 4 5.79086 4 8V40C4 42.2091 5.79086 44 8 44H40C42.2091 44 44 42.2091 44 40V8C44 5.79086 42.2091 4 40 4Z"
            stroke="#474747"
            stroke-width="2.5"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
          <path
            d="M10 10H16"
            stroke="#474747"
            stroke-width="2.5"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
          <path
            d="M4 16H44"
            stroke="#474747"
            stroke-width="2.5"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </div>

      <div>
        <h2 class="font-bold mb-3 text-xl">Easy To Order</h2>
        <p class="text-[#414536]">
          In the new era of technology we look in the future with certainty
          life.
        </p>
      </div>
    </div>
    <div class="bg-white gap-6 flex justify-center items-start">
      <div class="w-12 h-12">
        <svg
          class="block"
          width="48"
          height="48"
          viewBox="0 0 48 48"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M42 28V46H6V28"
            stroke="#474747"
            stroke-width="2.5"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
          <path
            d="M17 2H31"
            stroke="#474747"
            stroke-width="2.5"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
          <path
            d="M24 28L32.5 19.5"
            stroke="#AD343E"
            stroke-width="2.5"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
          <path
            d="M24 2V5"
            stroke="#474747"
            stroke-width="2.5"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
          <path
            d="M24 46C33.9411 46 42 37.9411 42 28C42 18.0589 33.9411 10 24 10C14.0589 10 6 18.0589 6 28C6 37.9411 14.0589 46 24 46Z"
            stroke="#474747"
            stroke-width="2.5"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
          <path
            d="M24 16V18"
            stroke="#474747"
            stroke-width="2.5"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
          <path
            d="M36 28H34"
            stroke="#474747"
            stroke-width="2.5"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
          <path
            d="M32.485 36.485L31.071 35.071"
            stroke="#474747"
            stroke-width="2.5"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
          <path
            d="M24 40V38"
            stroke="#474747"
            stroke-width="2.5"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
          <path
            d="M15.5149 36.485L16.9289 35.071"
            stroke="#474747"
            stroke-width="2.5"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
          <path
            d="M12 28H14"
            stroke="#474747"
            stroke-width="2.5"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
          <path
            d="M15.5149 19.515L16.9289 20.929"
            stroke="#474747"
            stroke-width="2.5"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </div>

      <div>
        <h2 class="font-bold mb-3 text-xl">Fast Delivery</h2>
        <p class="text-[#414536]">
          In the new era of technology we look in the future with certainty
          life.
        </p>
      </div>
    </div>
  </div>
</section>
