.section-3 {
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
}

.imgs {
  position: relative;
  width: 50%;
  margin-bottom: 2rem;
}

.imgs img {
  height: 26rem;
  width: 36rem;
  border-radius: 8px;
}

.img-text {
  position: absolute;
  bottom: -2rem;
  right: -2rem;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  background-color: rgba(47, 47, 47, 0.8);
  color: white;
  padding: 1.5rem;
  border-radius: 10px;
  max-width: 60%;
}

.img-text h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.img-text .item {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

.img-text .item img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.content {
  width: 45%;
  text-align: left;
}

.content h1 {
  font-family: "Playfair Display", serif;
  font-size: 2.5rem;
  color: #2c2f24;
  margin-bottom: 1rem;
}

.content p {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 1.5rem;
}

.content button {
  background-color: white;
  border: 2px solid #2c2f24;
  color: #2c2f24;
  padding: 0.75rem 1.5rem;
  font-weight: bold;
  cursor: pointer;
  border-radius: 155px;
}

.content button:hover {
  background-color: #2c2f24;
  color: white;
  transition: 0.3s;
}
