<section class="about-section2 font-main bg-mainBack w-full h-101">
  <div class="flex p-36 w-full h-full justify-center items-start gap-32">
    <div class="text-info flex flex-col items-center justify-center w-1/2">
      <div class="space-y-5 mb-14">
        <h1 class="text-6xl font-sec">
          A little information for our valuable guest
        </h1>
        <p>
          At place, we believe that dining is not just about food, but also
          about the overall experience. Our staff, renowned for their warmth and
          dedication, strives to make every visit an unforgettable event.
        </p>
      </div>
      <div
        class="stat grid grid-cols-1 lg:grid-cols-2 2xl:scale-90 3xl:flex 3xl:flex-wrap h-fit gap-6 justify-center items-center"
      >
        <div
          class="rounded-lg flex flex-col items-center justify-center w-72 h-44 border border-gray-300 bg-white"
        >
          <span class="text-6xl font-sec mb-4">3</span
          ><span class="text-lg">Locations</span>
        </div>
        <div
          class="rounded-lg flex flex-col items-center justify-center w-72 h-44 border border-gray-300 bg-white"
        >
          <span class="text-6xl font-sec mb-4">1995</span
          ><span class="text-lg">Founded</span>
        </div>
        <div
          class="rounded-lg flex flex-col items-center justify-center w-72 h-44 border border-gray-300 bg-white"
        >
          <span class="text-6xl font-sec mb-4">65+</span
          ><span class="text-lg">Staff Members</span>
        </div>
        <div
          class="rounded-lg flex flex-col items-center justify-center w-72 h-44 border border-gray-300 bg-white"
        >
          <span class="text-6xl font-sec mb-4">100%</span
          ><span class="text-lg">Satisfied Customers</span>
        </div>
      </div>
    </div>
    <div class="w-1/2 flex items-center justify-center">
      <img
        class="w-full rounded-xl h-102 object-cover"
        src="./about/image2.png"
        alt="about"
      />
    </div>
  </div>
</section>
