<section class="flex justify-center items-center contact-section">
  <div class="container w-3/5 flex flex-col justify-center items-center">
    <div class="flex justify-center items-center flex-col w-3/4 text-center">
      <h1 class="text-8xl mb-4 m-16">Contact Us</h1>
      <p class="text-sm mb-20">
        We consider all the drivers of change gives you the components you need
        to change to create a truly happens.
      </p>
    </div>
    <form
      class="bg-white shadow-lg p-8 border-gray-200 border rounded-lg w-full flex justify-center items-center flex-col"
      action="submit"
    >
      <div class="name-email w-full flex gap-10">
        <div class="w-3/6 mb-2">
          <label
            for="username"
            class="block text-sm text-black font-bold dark:text-gray-300"
            >Name</label
          >
          <input
            type="text"
            placeholder="Enter your name"
            class="block mt-2 w-full placeholder-gray-400/70 dark:placeholder-gray-500 rounded-3xl border border-gray-200 bg-white px-5 py-2.5 text-gray-700 focus:border-blue-400 focus:outline-none focus:ring focus:ring-blue-300 focus:ring-opacity-40 dark:border-gray-600 dark:bg-gray-900 dark:text-gray-300 dark:focus:border-blue-300"
          />
        </div>

        <div class="w-3/6 mb-2">
          <label
            for="email"
            class="block text-sm font-bold text-black dark:text-gray-300"
            >Email</label
          >

          <input
            type="text"
            placeholder="Enter email address"
            class="block mt-2 w-full placeholder-gray-400/70 dark:placeholder-gray-500 rounded-3xl border border-gray-200 bg-white px-5 py-2.5 text-gray-700 focus:border-blue-400 focus:outline-none focus:ring focus:ring-blue-300 focus:ring-opacity-40 dark:border-gray-600 dark:bg-gray-900 dark:text-gray-300 dark:focus:border-blue-300"
          />
        </div>
      </div>
      <div class="w-full mb-2">
        <label
          for="message"
          class="block text-sm font-bold text-black dark:text-gray-300"
          >Subject</label
        >

        <input
          type="text"
          placeholder="Write a subject"
          class="block mt-2 w-full placeholder-gray-400/70 dark:placeholder-gray-500 rounded-3xl border border-gray-200 bg-white px-5 py-2.5 text-gray-700 focus:border-blue-400 focus:outline-none focus:ring focus:ring-blue-300 focus:ring-opacity-40 dark:border-gray-600 dark:bg-gray-900 dark:text-gray-300 dark:focus:border-blue-300"
        />
      </div>

      <div class="w-full mb-2">
        <label
          for="message"
          class="block text-sm font-bold text-black dark:text-gray-300"
          >Message</label
        >

        <textarea
          type="text"
          placeholder="Write your message"
          class="block mt-2 w-full h-40 resize-none placeholder-gray-400/70 dark:placeholder-gray-500 rounded-3xl border border-gray-200 bg-white px-5 py-2.5 text-gray-700 focus:border-blue-400 focus:outline-none focus:ring focus:ring-blue-300 focus:ring-opacity-40 dark:border-gray-600 dark:bg-gray-900 dark:text-gray-300 dark:focus:border-blue-300"
        ></textarea>
      </div>
      <button class="btn btn-primary rounded-full w-full py-2 mt-4 text-white">
        Send
      </button>
    </form>
    <div class="flex justify-between items-center w-full mt-20 mb-20">
      <div class="flex flex-col items-start">
        <span class="mb-2 text-lg font-bold">Call us:</span>
        <a href="tel:+1234567890" class="phone text-2xl font-bold"
          >+201094455510</a
        >
      </div>
      <div class="flex flex-col items-start">
        <span class="mb-2 text-lg font-bold">Hours:</span>
        <span>Fri: 8:00am-7:00pm</span>
        <span>Sat: 8:00am-7:00pm</span>
      </div>
      <div class="flex flex-col items-start">
        <span class="mb-2 text-lg font-bold">Location:</span>
        <span>151 Ebeid st., Al-Sahel, Cairo</span>
      </div>
    </div>
  </div>
</section>
